# Dependency directories
node_modules/

# Environment variables
.env

# IDE/Editor specific files
.vscode/

# Mac specific files
.DS_Store

# Logs
logs/
*.log

# Express specific
npm-debug.log*
yarn-debug.log*
yarn-error.log*
